/* Make forms more usable on mobile. */
input, textarea, select {
  font-family: inherit;
  font-size: 16px;
  color: inherit;
}

@media (min-width: 40em) {
  input, textarea, select {
    font-size: 0.9rem;
  }
}

.notification {
  margin-bottom: 1rem;
}

.notification {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.is-danger {
    background: #fcc;
}

code {
    font-size: 0.8rem;
    background: #f1f5f9;
    padding: 0 0.25rem;
}

/* Indent Markdown code blocks. */
pre code {
    display: block;
    padding: 0.25rem 0.5rem;
    margin-top: 0.5rem;
    max-width: 45rem;
    overflow-x: scroll;
}

/* Add space between paragraphs for text generated from Markdown (can't use
   Tailwind). */
#interaction-list details p, #client-summary p {
    margin-top: 0.5rem;
}

p a:link, li a:link {
    color: #0369a1;
    text-decoration: underline;
}

ul {
    list-style: disc;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
}

ol {
    list-style: decimal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
}

li {
    margin-top: 0.5rem;
}

@keyframes fade-out {
    0% { --tw-bg-opacity: 1;
         background: rgb(240 253 244 / var(--tw-bg-opacity));
       }
    100% { background: transparent; }
}

.fade {
    animation: fade-out 5s ease-in-out;
}

/* Highlight the interaction you clicked a link to. */
.interaction-item:target {
    outline: 3px solid #fde047;
}
