<div style="margin-left: 0.85rem">
    {% if i.details %}{{i.details|markdown}}{% endif %}
    {% if i.internal_notes %}<div class="text-slate-400 italic">{{i.internal_notes|markdown}}</div>{% endif %}
</div>
