{% if errors.unknown %}
    <div class="notification is-danger">{{errors.unknown}}</div>
{% endif %}
<form hx-post="{{form-action-url}}" hx-target="#interaction-form" hx-swap="innerHTML" hx-trigger="submit,keyup[ctrlKey && key == 'Enter']" hx-on:htmx:validation:validate="this.reportValidity()">
    {% csrf-field %}
    <fieldset class="sm:px-4 py-2 sm:border-2 border-slate-200 rounded">
        <legend class="text-lg font-semibold leading-tight sm:px-1">{% if updating %}Update{% else %}Add{% endif %} interaction</legend>
        {% if updating %}
        <p class="mb-2">
            <label>
                Date/time:<br>
                <input class="border-2 border-slate-200" type="datetime-local" name="timestamp" value="{{form-data.timestamp}}" required>
            </label>
        </p>
        {% endif %}
        <p class="mb-2">
            <label>
                Subject:<br>
                <input class="px-1 border-2 border-slate-300 rounded w-full" type="text" name="subject" value="{{form-data.subject}}" required autofocus>
            </label>
        </p>
        {% if errors.subject %}
            <div class="notification is-danger">{{errors.subject}}</div>
        {% endif %}
        <p class="mb-2 flex">
            <label class="w-full" style="max-width: 50%">
                Communication:<br>
                <select name="medium" class="px-1 border-2 border-slate-300 rounded">
                    <option value="">None</option>
                    <option value="email"{% if form-data.medium = "email" %} selected="selected"{% endif %}>Email</option>
                    <option value="phone"{% if form-data.medium = "phone" %} selected="selected"{% endif %}>Phone</option>
                    <option value="sms"{% if form-data.medium = "sms" %} selected="selected"{% endif %}>SMS</option>
                    <option value="chat"{% if form-data.medium = "chat" %} selected="selected"{% endif %}>Chat</option>
                    <option value="video"{% if form-data.medium = "video" %} selected="selected"{% endif %}>Video</option>
                    <option value="in-person"{% if form-data.medium = "in-person" %} selected="selected"{% endif %}>In-person</option>
                </select>
            </label>
        {% if errors.medium %}
            <div class="notification is-danger">{{errors.medium}}</div>
        {% endif %}
            <label>
                Duration (mins):<br>
                <input class="px-1 border-2 border-slate-300 rounded" type="number" name="duration" value="{{form-data.duration}}" required style="width: 5rem">
            </label>
        {% if errors.duration %}
            <div class="notification is-danger">{{errors.duration}}</div>
        {% endif %}
        </p>
        <p class="mb-2">
            <label>
                Details:<br>
                <textarea name="details" title="What and why" class="px-1 border-2 border-slate-300 rounded w-full" style="height: 8rem">{{form-data.details}}</textarea>
            </label>
        </p>
        {% if errors.details %}
            <div class="notification is-danger">{{errors.details}}</div>
        {% endif %}
        <p class="mb-2">
            <label>
                Internal notes:<br>
                <textarea name="internal-notes" title="Root cause, prevention" class="px-1 border-2 border-slate-300 rounded w-full" style="height: 8rem">{{form-data.internal-notes}}</textarea>
            </label>
        </p>
        {% if errors.internal-notes %}
            <div class="notification is-danger">{{errors.internal-notes}}</div>
        {% endif %}
        <p class="mb-2">
            <label>
                <input type="checkbox" name="followup-required"{% if form-data.followup-required %} checked="checked"{% endif %} value="true"> Follow-up required
            </label>
        </p>
        {% if errors.followup-required %}
            <div class="notification is-danger">{{errors.followup-required}}</div>
        {% endif %}
        <button type="submit" class="button h-10 px-6 my-2 font-semibold rounded-md bg-slate-200 border-2 border-slate-300">{% if updating %}Update{% else %}Add{% endif %}</button>
        {% if any updating errors %}<button type="button" hx-get="{{cancel-url}}" hx-target="#interaction-form" hx-swap="innerHTML" class="h-10 px-6 font-semibold rounded-md border-2">Cancel</button>{% endif %}
    </fieldset>
</form>
