<div{% if i.followup_required %} title="Follow-up required"{% endif %} class="{% if i.followup_required %} bg-yellow-100{% endif %}">
    <a href="/client/{{i.client_id}}#int-{{ i.id }}" class="hover:bg-slate-50 active:bg-slate-100 block px-1 py-2 border-b border-slate-200"><time datetime="{{i.timestamp}}" title="{{i.timestamp}}" class="text-slate-400 mr-1">{{i.timestamp|date:mediumDate}}</time><span class="font-semibold">{{ i|display-name }}</span>: {{i.subject}} <span class="text-slate-400 ml-1">({% ifunequal i.medium "" %}{% include _medium_icon.html %}{% endifunequal %}{{i.duration}}m)</span></a>
</div>
