<time datetime="{{i.timestamp}}" title="{{i.timestamp}}" class="text-slate-400 mr-1">{{i.timestamp|date:mediumDate}}</time> {{i.subject}} <span class="text-slate-400 ml-1">({% ifunequal i.medium "" %}{% include _medium_icon.html %}{% endifunequal %}{{i.duration}}m)</span>
<button type="button" title="Edit" class="text-slate-400 hover:text-slate-700 leading-none align-middle px-0.5" style="transform: scaleX(-1.5) scaleY(1.5)" hx-get="/interaction/{{i.id}}" hx-swap="innerHTML" hx-target="#interaction-form">✎</button>
