{# Only used by HTMX #}
<div id="interaction-list" hx-get="/interactions?client_id={{ client_id }}" hx-trigger="reloadInteractionList from:body" class="mb-2">
    <div class="flex items-center gap-2 mb-2">
        <form name="interaction-search" hx-get="/interactions" hx-target="#interaction-list" hx-swap="outerHTML">
            <input class="border-2 border-slate-200" name="q" type="text" value="{{ query }}" placeholder="Search"/>
            <input name="client_id" type="hidden" value="{{ client_id }}"/>
        </form>
        {% if query %}
            <button hx-get="/interactions?client_id={{ client_id }}" hx-target="#interaction-list" class="text-sm h-3 leading-none text-slate-400">Clear</button>
        {% endif %}
    </div>
    {% for i in interactions %}
        {% include "_interaction_list_item.html" %}
    {% empty %}
        <em>No results</em>
    {% endfor %}
    {% if query %}
        <script>
         document.forms['interaction-search'].elements.q.select()
        </script>
    {% endif %}
</div>
