<div id="int-{{ i.id }}"{% if i.followup_required %} title="Follow-up required"{% endif %} class="interaction-item py-2 border-b border-slate-200{% if open = i.id %} fade{% endif %}{% if i.followup_required %} bg-yellow-100{% endif %}">
    {% if any i.details i.internal_notes %}
        <details{% if open = i.id %} open{% endif %}>
            <summary class="cursor-pointer">{% include "_interaction_summary.html" %}</summary>
            {% include "_interaction_body.html" %}
        </details>
    {% else %}
        <!-- Match the left-padding of <details> before the marker. -->
        <div style="padding-left: 0.85rem">{% include "_interaction_summary.html" %}</div>
    {% endif %}
</div>
