{% if i.medium = "phone" %}<abbr title="phone">📞</abbr>{% elif i.medium = "email" %}<abbr title="email">📧️</abbr>{% elif i.medium = "chat" %}<abbr title="chat">⌨️</abbr>{% elif i.medium = "video" %}<abbr title="video">🖥️</abbr>{% elif i.medium = "sms" %}<abbr title="SMS">📱</abbr>{% elif i.medium = "in-person" %}<abbr title="in-person">🤝</abbr>{% else %}{{i.medium}}{% endif %}
