{# Only used by HTMX #}
<div id="site-search" class="mb-8">
    <div class="flex justify-center md:justify-normal gap-2 mb-2">
        <form name="site-search" hx-get="/search" hx-target="#site-search" hx-swap="outerHTML">
            <input class="border-2 border-slate-200" name="q" type="text" value="{{ query }}" placeholder="Search" autofocus/>
        </form>
        {% if query %}
            <button hx-get="/search" hx-target="#site-search" class="text-sm h-3 leading-none text-slate-400">Clear</button>
        {% endif %}
    </div>
    {% for i in interactions %}
        {% include "_interaction_list_item_basic.html" %}
    {% empty %}
        {% if query %}
            <em>No results</em>
        {% endif %}
    {% endfor %}
    <script>
 document.forms['site-search'].elements.q.select()
</script>
</div>
