<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="todo: describe app here">
    <title>{% block title %}{% if title %}{{ title }} — {% endif %}Interaction Tracker{% endblock %}</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/images/icon-192x192.png">
    <!-- Firefox will also request apple-touch-icon.
         See: https://bugzilla.mozilla.org/show_bug.cgi?id=1745680 -->
    <link rel="apple-touch-icon" href="/images/icon-192x192.png">
    <meta name="theme-color" content="#ffffff">
    <link href="/output.css" rel="stylesheet">
    <link href="/css/screen.css" rel="stylesheet">
    {% block style %}{% endblock %}
    {% block script %}
        <script src="https://unpkg.com/htmx.org@1.9.9/dist/htmx.min.js" integrity="sha256-lqM0qVcKOCz5xhofhtVYcLocZeFmzFvK6Y3djNq+uIY=" crossorigin="anonymous" defer></script>
    {% endblock %}
</head>
<body class="text-slate-700 px-2 sm:px-4 py-4">
    <nav class="mb-3 leading-none">
        {% block navbar %}{% endblock %}
    </nav>
    <section>
        {% block main %}{% endblock %}
    </section>
    <footer class="text-right opacity-60">
        <small>Interaction Tracker (<a href="https://gitlab.com/sturm/interaction-tracker/" class="text-sky-700">source code</a>)</small>
    </footer>
</body>
</html>
