{% extends "base.html" %}

{% block main %}
    {% include "_site_search.html" %}

    <h1 class="text-xl font-semibold text-center sm:text-left mb-2">Active clients <span class="text-slate-400">({{ active-clients|count }})</span></h1>
    <div class="clients sm:columns-2 lg:columns-3 2xl:columns-4 gap-x-6 mb-8">
        {% for client in active-clients %}
            <a href="/client/{{client.id}}" class="hover:bg-slate-50 active:bg-slate-100 flex gap-x-2 px-1 py-2 border-b border-slate-200">
                <span class="grow">
                    {{ client|display-name }}
                    {% if client.service_agreement %}<small title="Service/support agreement (pay for access)" class="text-white font-semibold bg-green-600 opacity-60 mx-1" style="padding: 0.1rem 0.2rem; border-radius: 0.25rem">S</small>{% endif %}
                    {% if client.followup_required %}<small title="Follow-up required" class="text-white font-bold bg-yellow-400 opacity-60 mx-1" style="padding: 0.1rem 0.4rem; border-radius: 0.25rem">!</small>{% endif %}
                    {% if client.retainer %}<small title="Retainer (pay for work)" class="text-white font-semibold bg-sky-600 opacity-60 mx-1" style="padding: 0.1rem 0.2rem; border-radius: 0.25rem">R</small>{% endif %}
                    {% if client.pro_bono %}<small title="pro bono" class="text-white font-semibold bg-pink-400 opacity-60 mx-1" style="padding: 0.1rem 0.2rem; border-radius: 0.25rem">♥</small>{% endif %}
                    {% if client.non_financial %}<small title="non-financial" class="text-white font-semibold bg-red-600 opacity-60 mx-1" style="padding: 0.1rem 0.2rem; border-radius: 0.25rem">NF</small>{% endif %}
                </span>
                <small title="interactions" class="text-slate-400 font-semibold text-right" style="width: 1.5rem">{{client.total_interactions}}</small>
                <small title="annual revenue" class="text-right" style="width: 2.5rem">${{client.year_turnover|thousands}}</small>
                <small title="lifetime revenue" class="text-right opacity-60" style="width: 2.5rem">${{client.lifetime_value|thousands}}</small>
            </a>
        {% endfor %}
    </div>

    <h1 class="text-xl font-semibold text-center sm:text-left mb-2">Recent interactions</h1>
    <div class="mb-8">
        {% for i in recent-interactions %}
            {% include "_interaction_list_item_basic.html"  %}
        {% endfor %}
    </div>

    <h1 class="text-xl font-semibold text-center sm:text-left mb-2">Client annual value <span class="text-slate-400">(${{ year-turnover|thousands }})</span></h1>
    <div class="overflow-x-auto">
        <table class="mb-8">
            <tr>
                {% for bucket in clients-by-year-turnover %}
                    <td class="text-center align-top" style="width: 1%; padding: 0">
                        {% for client in bucket.1 %}
                            <a href="/client/{{client.id}}" span class="block text-xs px-1 py-0.5 rounded my-1 mr-1{% if client.active %} bg-green-100 hover:bg-green-200 active:bg-green-300{% else %} hover:bg-slate-50 active:bg-slate-100{% endif %}">{{ client|display-name }} <span class="text-slate-500">${{ client.year_turnover|thousands }}</span></a>
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        </table>
    </div>

    <details class="mb-2">
        <summary>
            <h1 class="text-xl font-semibold text-center sm:text-left inline-block mb-2">Client lifetime value</h1>
        </summary>
        <div class="overflow-x-auto">
            <table class="mb-6">
                <tr>
                    {% for bucket in clients-by-lifetime-value %}
                        <td class="text-center align-top" style="width: 1%; padding: 0">
                            {% for client in bucket.1 %}
                                <a href="/client/{{client.id}}" class="block text-xs px-1 py-0.5 rounded my-1 mr-1{% if client.active %} bg-green-100 hover:bg-green-200 active:bg-green-300{% else %} hover:bg-slate-50 active:bg-slate-100{% endif %}">{{ client|display-name }} <span class="text-slate-500">${{ client.lifetime_value|thousands }}</span></a>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </details>

    <details class="mb-2">
        <summary>
            <h2 class="text-xl font-semibold text-center sm:text-left inline-block mb-2">Archived clients <span class="text-slate-400">({{ inactive-clients|count }})</span></h2>
        </summary>
    <div class="clients sm:columns-2 lg:columns-3 2xl:columns-4 gap-x-6 opacity-60 mb-8">
        {% for client in inactive-clients %}
            <a href="/client/{{client.id}}" class="hover:bg-slate-50 active:bg-slate-100 flex gap-x-2 px-1 py-2 border-b border-slate-200">
                <span class="grow">{{ client|display-name }}</span>
                <small class="text-slate-400 font-semibold text-right" style="width: 1.5rem">{% if client.total_interactions > 0 %}{{client.total_interactions}}{% endif %}</small>
                <small class="text-right opacity-60" style="width: 2.5rem">${{client.lifetime_value|thousands}}</small>
            </a>
        {% endfor %}
    </div>
    </details>

    <details class="mb-2">
        <summary>
            <h2 class="text-xl font-semibold text-center sm:text-left inline-block mb-2">Add a client</h2>
        </summary>
        {% if errors.unknown %}
            <div class="px-2 py-4 mb-4 bg-red-200">{{errors.unknown}}</div>
        {% endif %}
        <form method="POST" action="/save-client">
            {% csrf-field %}
            <fieldset class="sm:px-4 py-2 sm:border-2 border-slate-200 rounded">
                <p class="mb-2">
                    <label>
                        Name:<br>
                        <input class="px-1 border-2 border-slate-300 rounded" type="text" name="name" value="{{name}}" required>
                    </label>
                </p>
                {% if errors.name %}
                    <div class="notification is-danger">{{errors.name}}</div>
                {% endif %}
                <button type="submit" class="h-10 px-6 my-2 font-semibold rounded-md bg-slate-200 border-2 border-slate-300">Add</button>
            </fieldset>
        </form>
    </details>
{% endblock main %}
