{% extends "base.html" %}

{% block style %}
    <style>
     #interaction-form {
       width: 100%;
     }
     @media (min-width: 40em) {
       #client-body {
         display: flex;
         flex-direction: row-reverse;
         column-gap: 2rem;
       }
       #interaction-form {
         width: auto;
         min-width: 30rem;
       }
     }

     #interaction-list p {
       max-width: 45rem;
     }
    </style>
{% endblock %}

{% block navbar %}
    <small><a href="/" class="text-sky-700">Home</a></small>
{% endblock navbar %}

{% block main %}
    <div class="flex">
        <h1 class="text-2xl font-semibold leading-none">{{client.name }}{% if client.short_name %} <span class="text-slate-400">({{ client.short_name }})</span>{% endif %}</h1>
        <a href="/client/{{client.id}}/edit" title="Edit" class="text-2xl text-slate-400 hover:text-slate-700 leading-none align-middle px-0.5" style="transform: scaleX(-1)">✎</a>
    </div>
    <div class="text-slate-400 mb-2"><small>{{ client.entity_name }}</small>{% if not client.abn = "              " %} - <small class="whitespace-nowrap mr-2"> <a class="text-slate-400 underline" href="https://abr.business.gov.au/ABN/View?abn={{ client.abn }}">ABN {{ client.abn }}</a></small>{% endif %}</div>
    <p>
        <span class="whitespace-nowrap mr-2">Commenced <strong><time datetime="{{ client.commenced }}" title="{{ client.commenced|date:mediumDate }}">{{ client.commenced|time-ago }}</time></strong></span>
        <span class="whitespace-nowrap mr-2" title="Over 12 months">Interactions <strong>{{ total-interactions-annual }}</strong></span>
        <span class="whitespace-nowrap mr-2">Annual <strong>${{client.year_turnover|thousands}}</strong></span>
        <span class="whitespace-nowrap mr-2" title="Over 12 months">Per interaction <strong>${{per-interaction|thousands}}</strong></span>
        <span class="whitespace-nowrap mr-2">Lifetime <strong>${{client.lifetime_value|thousands}}</strong></span>
        {% if not client.active %}
            <span class="text-sm font-medium text-slate-800 bg-slate-200 whitespace-nowrap py-1 px-2 rounded-md mr-2">Archived</span>
        {% endif %}
        {% if client.risky %}
            <span class="text-sm font-medium text-orange-800 bg-orange-200 whitespace-nowrap py-1 px-2 rounded-md mr-2">Risky</span>
        {% endif %}
        {% if client.non_financial %}
            <span class="text-sm font-medium text-red-800 bg-red-200 whitespace-nowrap py-1 px-2 rounded-md mr-2">Non-financial</span>
        {% endif %}
        {% if client.service_agreement %}
            <span title="Pay-for-access retainer" class="text-sm font-medium text-green-800 bg-green-200 whitespace-nowrap py-1 px-2 rounded-md mr-2">Service agreement</span>
        {% endif %}
        {% if client.retainer %}
            <span title="Pay-for-work retainer" class="text-sm font-medium text-blue-800 bg-blue-200 whitespace-nowrap py-1 px-2 rounded-md mr-2">Retainer</span>
        {% endif %}
        {% if client.pro_bono %}
            <span class="text-sm font-medium text-pink-800 bg-pink-200 whitespace-nowrap py-1 px-2 rounded-md mr-2">Pro bono</span>
        {% endif %}
        {% if action = :manage %}
            <span title="{{ client.current_value }} current value, {{ client.potential_value }} potential value" class="text-sm font-medium text-stone-800 bg-stone-200 whitespace-nowrap py-1 px-2 rounded-md mr-2">Manage</span>
        {% endif %}
        {% if action = :grow %}
            <span title="{{ client.current_value }} current value, {{ client.potential_value }} potential value" class="text-sm font-medium text-lime-800 bg-lime-200 whitespace-nowrap py-1 px-2 rounded-md mr-2">Grow</span>
        {% endif %}
        {% if action = :retain %}
            <span title="{{ client.current_value }} current value, {{ client.potential_value }} potential value" class="text-sm font-medium text-amber-800 bg-amber-200 whitespace-nowrap py-1 px-2 rounded-md mr-2">Retain</span>
        {% endif %}
        {% if action = :promote %}
            <span title="{{ client.current_value }} current value, {{ client.potential_value }} potential value" class="text-sm font-medium text-fuchsia-800 bg-fuchsia-200 whitespace-nowrap py-1 px-2 rounded-md mr-2">Promote</span>
        {% endif %}
    </p>

    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; gap: 2rem">
        <div id="client-summary">
            <div class="mb-2" style="max-width: 40rem">{{ client.summary|markdown }}</div>

            {% if client.background %}
                <details class="text-sm mb-2" style="max-width: 40rem">
                    <summary class="font-semibold">Background</summary>
                    {{ client.background|markdown }}
                </details>
            {% endif %}

            {% if client.people %}
                <details class="text-sm mb-2" style="max-width: 40rem">
                    <summary class="font-semibold">People</summary>
                    {{ client.people|markdown }}
                </details>
            {% endif %}

            {% if client.service %}
                <details class="text-sm mb-2" style="max-width: 40rem">
                    <summary class="font-semibold">Service arrangements</summary>
                    {{ client.service|markdown }}
                </details>
            {% endif %}

            {% if client.technology %}
                <details class="text-sm mb-2" style="max-width: 40rem">
                    <summary class="font-semibold">Technology</summary>
                    {{ client.technology|markdown }}
                </details>
            {% endif %}
        </div>
        {% if meters-set %}
            <div class="flex-grow my-2 mr-2">
                <!-- 3.9 is for compatibily between Chromium/Firefox colouring implementations. One is >, the other is >=. See: https://www.ctrl.blog/entry/html-meter-segment-boundaries.html. -->
                <label><span style="display: inline-block; min-width: 4rem">People</span> <meter min="1" max="5" low="3" high="3.9" optimum="5" value="{{ client.rating_people }}"></meter></label><br>
                <label><span style="display: inline-block; min-width: 4rem">Profit</span> <meter min="1" max="5" low="3" high="3.9" optimum="5" value="{{ client.rating_profit }}"></meter></label><br>
                <label><span style="display: inline-block; min-width: 4rem">Culture</span> <meter min="1" max="5" low="3" high="3.9" optimum="5" value="{{ client.rating_culture }}"></meter></label><br>
                <label><span style="display: inline-block; min-width: 4rem">Values</span> <meter min="1" max="5" low="3" high="3.9" optimum="5" value="{{ client.rating_values }}"></meter></label><br>
            </div>
        {% endif %}
    </div>

    <div id="client-body" class="justify-end my-4">
        <!-- #interaction-form is referenced by HTMX -->
        <section id="interaction-form">
            {% include "_interaction_form.html" %}
        </section>
        <section>
            <div class="text-lg leading-tight mb-2"><strong>Interactions</strong></div>
            {% with client_id=client.id %}
                {% include "_interaction_list.html" %}
            {% endwith %}
        </section>
    </div>
{% endblock main %}
